@using System.ComponentModel.DataAnnotations
@inject LiteDbService DBService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.subtitle1" Class="truncated-text mr-3">
            @if (Item.Id is 0)
            {
                @Localizer["AddItem"]
            }
            else
            {
                @Localizer["EditItem", @Item.Name]
            }
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm Model="@localItem" OnValidSubmit="Submit" class="d-flex flex-column gap-3">
            <DataAnnotationsValidator />

            <MudTextField T="string" Required="true" Label="Name" Immediate="true"
                          @bind-Value="localItem.Name" For="@(() => localItem.Name)" />
            <MudTextField T="double" Required="true" Label="Price" Immediate="true"
                          @bind-Value="localItem.Price" For="@(() => localItem.Price)" />

            <div class="d-flex flex-grow-1 justify-end gap-3">
                @if (Item.Id is not 0)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Error" OnClick="Delete" />
                }
                <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Outlined" Color="Color.Primary">Save</MudButton>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>

@code {
    [Parameter, EditorRequired] public Item Item { get; set; } = default!;

    [Parameter]
    public EventCallback OnItemChanged { get; set; }

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    private Item localItem = default!;

    protected override void OnInitialized()
    {
        // Clone to localItem
        localItem = new()
            {
                Id = Item.Id,
                Name = Item.Name,
                Price = Item.Price
            };
    }

    private async Task Submit()
    {
        if (Item.Id is 0)
        {
            var newItem = DBService.AddItem(localItem);
            if (newItem != Item.Id)
            {
                Snackbar.Add(Localizer["ItemAddedSuccessfully", localItem.Name], Severity.Success);
                MudDialog.Close();
            }
            else
            {
                Snackbar.Add(Localizer["SomethingWentWrong"], Severity.Error);
            }
        }
        else
        {
            var updated = DBService.UpdateItem(localItem);
            if (updated)
            {
                Snackbar.Add(Localizer["ItemUpdatedSuccessfully", localItem.Name], Severity.Success);
                MudDialog.Close();
            }
            else
            {
                Snackbar.Add(Localizer["SomethingWentWrong"], Severity.Error);
            }
        }

        await NotifyParent();
    }

    private async Task Delete()
    {
        var deleted = DBService.DeleteItem(Item.Id);
        if (deleted)
        {
            Snackbar.Add(Localizer["ItemDeletedSuccessfully", localItem.Name], Severity.Success);
            MudDialog.Close();
        }
        else
        {
            Snackbar.Add(Localizer["SomethingWentWrong"], Severity.Error);
        }

        await NotifyParent();
    }

    private void Cancel() => MudDialog.Cancel();

    private async Task NotifyParent()
    {
        if (OnItemChanged.HasDelegate)
        {
            await OnItemChanged.InvokeAsync();
        }
    }
}
